/* color 속성 */
#colorList > li{
    font-size: 24px;
    font-weight: bold;
}

#colorList > li:nth-child(1){color : red; }
#colorList > li:nth-child(2){color : rgb(50, 100, 150); }
#colorList > li:nth-child(3){color : rgba(255, 0, 0, 0.5); }
#colorList > li:nth-child(4){color : #abc;}
#colorList > li:nth-child(5){color : #8918F5}
#colorList > li:nth-child(6){color : hsl(360, 100%, 50%); }
#colorList > li:nth-child(7){color : hsla(360, 100%, 50%, 0.3); }


#decorationList > li:nth-child(1){text-decoration: overline;}
#decorationList > li:nth-child(2){text-decoration: line-through;}
#decorationList > li:nth-child(3){text-decoration: underline;}
#decorationList > li:nth-child(4) > a{text-decoration: none;}


/* text-align */
#alignTest>p:nth-child(1){text-align: left;}
#alignTest>p:nth-child(2){text-align: right;}
#alignTest>p:nth-child(3){text-align: center;}
#alignTest>p:nth-child(4){text-align: justify;}


/* line-height */
#lineHeight{ line-height: 30px;}

/* letter-spacing */
#letterSpacing{letter-spacing: -1px;}


/* font-family */
#fontFamily>li:nth-child(1){font-family: '궁서';}
#fontFamily>li:nth-child(2){font-family: '궁서체';}
#fontFamily>li:nth-child(3){font-family: '동현체','궁서체';}
#fontFamily>li:nth-child(4){font-family: 'East Sea Dokdo', cursive;}

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#fontFamily>li:nth-child(5){font-family: 'EF_jejudoldam';}

/* 다운 받은 폰트 적용 */
@font-face{
    font-family: 'Gugi';
    src : url('Gugi-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

#fontFamily>li:nth-child(6){font-family: 'Gugi';}

