.grid-container{
    background-color: #ccc;
    /* height: 400px; */

    /* 내부 요소를 grid로 배치 */
    display : grid;

    /* 행과 열의 개수 + 크기 지정 */
    /* grid-template-rows */
    /* grid-template-columns */

    /* 열을 먼저 지정하면 
    내부 cell이 밀리면서 행이 구성되어짐
    -> 구성된 행의 크기를 지정
    */
    grid-template-columns : 100px 100px 100px;
    grid-template-rows: 50px 100px 150px;

    /* repeat(횟수, 크기)함수 */
    grid-template-columns: repeat(3, 25%);

    /* fr단위 */
    /* 1:1:1 */
    grid-template-columns: repeat(3, 1fr);

    /* 2:1:1 */
    grid-template-columns: 2fr repeat(2, 1fr);

    grid-template-rows: repeat(3, 1fr);

    /* minmax(최소, 최대) */
    grid-template-rows: repeat(3, 100px);

    grid-template-rows: repeat(2, 100px) minmax(100px, auto);

    grid-template-columns: 100px minmax(200px, 300px) 100px;
    /* minmax(200px, 300px) : 평소에는 300px 
                            화면이 줄어들면 200px까지 줄어들 수 있음
    */

    /* auto-fit / auto-fill */

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    /* grid-gap */
    /* gap: 10px; */
    row-gap: 20px;
    column-gap: 10px;


}