/* flex 예제에서 공통적으로 사용할 스타일 지정 */
div{
    border: 1px solid black;
    box-sizing: border-box;
    /* content + padding + border == width/height
        -> content 조절
    */
}

pre{
    font-size: 1rem;
    font-family: '고딕';
}

pre > b{
    font-size: 1.5em;
    color: red;
}   

pre > i{
    font-size: 1.5em;
}

.item{
    width: 75px;
    height: 75px;
}

.item1{background-color: red;}
.item2{background-color: orangered;}
.item3{background-color: orange;}
.item4{background-color: yellow;}
.item5{background-color: yellowgreen;}
.item6{background-color: green;}
.item7{background-color: lightblue;}
.item8{background-color: blue;}
.item9{background-color: violet;}