<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">


	<!-- 회원 정보 수정 -->
	<update id="updateInfo" parameterType="Member">
		UPDATE "MEMBER" SET
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_TEL  = #{memberTel},
		MEMBER_ADDR  = #{memberAddress}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 비밀번호 조회 -->
	<!-- 
		마이바티스 기본 별칭
		java		mybatis
		int			_int
		Integer		int
		String		string
	-->
	
	<!-- 조회 결과가 1개인 경우(int, string 등)
		 또는 조회 결과를 모두 Map에 담는 경우
		 resultType을 사용
	 -->
	<select id="selectEncPw" parameterType="_int" resultType="string">
		SELECT MEMBER_PW FROM "MEMBER" WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	<!-- 비밀번호 변경 -->
	<!-- Member : 사용자 지정 별칭 (mybatis-config.xml) -->
	<update id="changePw" parameterType="Member">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 회원 탈퇴 -->
	<update id="secession" parameterType="_int">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	

</mapper>
