<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${boardName}">게시판 이름</title>

    <link rel="stylesheet" th:href="@{/css/board/boardWrite-style.css}">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>


        <form th:action="@{update}" method="POST" 
            class="board-write" id="boardUpdateFrm" enctype="multipart/form-data">  

            <h1 class="board-name" th:text="${boardName}">게시판 이름</h1>

            <!-- 제목 -->
            <h1 class="board-title">
                <input type="text" name="boardTitle" placeholder="제목" th:value="${board.boardTitle}">   
            </h1>


            <!-- 썸네일 영역 -->
            <h5>썸네일</h5>
            <div class="img-box">
                <div class="boardImg thumbnail">
                    <label for="img0">
                        <img class="preview">
                    </label>
                    <input type="file" name="images" class="inputImage" id="img0" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>
            </div>


            <!-- 업로드 이미지 영역 -->
            <h5>업로드 이미지</h5>
            <div class="img-box">

                <div class="boardImg">
                    <label for="img1">
                        <img class="preview">
                    </label>
                    <input type="file" name="images" class="inputImage" id="img1" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>

                <div class="boardImg">
                    <label for="img2">
                        <img class="preview">
                    </label>
                    <input type="file" name="images" class="inputImage" id="img2" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>

                <div class="boardImg">
                    <label for="img3">
                        <img class="preview">
                    </label>
                    <input type="file" name="images" class="inputImage" id="img3" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>

                <div class="boardImg">
                    <label for="img4">
                        <img class="preview">
                    </label>
                    <input type="file" name="images" class="inputImage" id="img4" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>
            </div>

            <!-- 내용 -->
            <div class="board-content">
                <textarea name="boardContent" th:text="${board.boardContent}">내용</textarea>
            </div>


            <!-- 버튼 영역 -->
            <div class="board-btn-area">
                <button type="submit" id="writebtn">등록</button>
            </div>

            
            <!-- 기존 이미지가 있다가 삭제된 이미지의 순서를 기록-->
            <input type="hidden" name="deleteList" value="">

            <!-- 수정 성공 시 주소(쿼리스트링) 유지용도 -->
            <input type="hidden" name="cp" th:value="${param.cp}">
        </form>

    </main>

    <th:block th:replace="~{common/footer}"></th:block>

    <script th:src="@{/js/board/boardUpdate.js}"></script>


    <script th:inline="javascript">
        // 타임리프로 얻어온 자바의 자료형을 JS 자료형으로 변환

        // Natural Template
        // - 컴파일 에러(빨간 밑줄) 발생 X
        // - html 파일을 단독으로 열었을 때 오른쪽에 작성된 값이 보이게 됨
        const imageList = /*[[${board.imageList}]]*/ [];

        const previewList = document.querySelectorAll("img.preview");


        for(let img of imageList){
            previewList[img.imageOrder].src = img.imagePath + img.imageReName;
        }
    </script>

</body>
</html>