<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.test.user.model.dao.UserMapper">

	<resultMap id="user" type="User">
		<id column="USER_NO" property="userNo"/>
		
		<result column="USER_ID" property="userId"/>
		<result column="USER_NAME" property="userName"/>
		<result column="USER_AGE" property="userAge"/>
	</resultMap>


	<select id="searchId" resultMap="user">
		SELECT * FROM TB_USER
		WHERE USER_ID = #{userId}
	</select>
	
	
	

</mapper>